<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="styles/style_template.css" />
  <link rel="stylesheet" href="styles/fonts.css">
  <script src="js/script_Templates.js"></script>
</head>

</html>
<div id="sidebar">
  <div id="sidebar_logo">
    <img src="assets/img/Join_Logo.png" alt="" />
  </div>
  <div id="sidebar_categories">

    <a class="sidebar_link" href="summary.html">
      <div id="sidebar_categories_summary" class="sidebar_category" onclick="showCategory('summary'), saveColumn('board_container_bottom_todo')">
        <div class="sidebar_category_line">
          <div id="sidebar_categories_summary_Icon" class="category_img">
            <img src="assets/img/Icon_Summary_grey.png" alt="" />
          </div>
          <div id="sidebar_categories_summary_Text">Summary</div>
        </div>
      </div>
    </a>
  <a class="sidebar_link" href="board.html">
    <div id="sidebar_categories_board" class="sidebar_category" onclick="showCategory('board')">
      <div class="sidebar_category_line">
        <div id="sidebar_categories_board_Icon" class="category_img">
          <img src="assets/img/Icon_Board_grey.png" alt="" />
        </div>
        <div id="sidebar_categories_board_Text">Board</div>
      </div>
    </div>
  </a>
  <a class="sidebar_link" href="add_task.html" >
    <div id="sidebar_categories_addTask" class="sidebar_category" onclick="showCategory('add_task')">
      <div class="sidebar_category_line">
        <div id="sidebar_categories_addTask_Icon" class="category_img">
          <img src="assets/img/Icon_Add_Task_grey.png" alt="" />
        </div>
        <div id="sidebar_categories_addTask_Text">Add Task</div>
      </div>
    </div>
  </a>
  <a class="sidebar_link" href="contacts.html">
    <div id="sidebar_categories_contacts" class="sidebar_category" onclick="showCategory('contacts')">
      <div class="sidebar_category_line">
        <div id="sidebar_categories_contacts_Icon" class="category_img">
          <img src="assets/img/Icon_Contacts_grey.png" alt="" />
        </div>
        <div id="sidebar_categories_contacts_Text">Contacts</div>
      </div>
    </div>
  </a>
  </div>
  <div id="sidebar_policies">
    <a id="privacy_police"  href="privacy_police.html" target="_blank">Privacy Policy</a>
    <a id="legal_notice" href="legal_notice.html" target="_blank">Legal notice</a>
  </div>
</div>

<div id="topbar">
  <div id="topbar_text">Kanban Project Managment Tool</div>
  <div id="topbar_icons">
    <div id="topbar_Icons_help">
      <a href="../help.html"><img src="assets/img/Icon_help.png" title="help" /></a>
    </div>
    <!-- platzhalter für circle -->
  </div>
</div>

<div id="popupBar" class="d-none d-flex">
  <a href="legal_notice.html" target="_blank">Impressum</a>
  <a href="index.html" onclick="logoutUser();">Log out</a>
</div>