/*Divider between left and right side*/
.divider {
  width: 1px;
  background-color: rgb(209, 209, 209);
  margin-left: 59px;
  margin-right: 59px;
  margin-bottom: 8px;
  height: 551px;
}

/*specific for priorities*/
#prioContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.contactIconInList {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.prio {
  padding: 18px 10px 18px 10px;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  width: calc(33% - 10px);
  box-sizing: border-box;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  position: relative;
}

.prio:hover {
  box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.prio img {
  width: 20px;
  height: 14.51px;
  flex-shrink: 0;
}

.urgent {
  background-color: rgb(255, 61, 0);
  color: white;
}

.medium {
  background-color: rgb(255, 168, 0);
  color: white;
}

.low {
  background-color: rgb(122, 226, 41);
  color: white;
}

/*specific for subtasks*/
.addSubTask {
  width: 100%;
  border-radius: 10px;
  gap: 10px;
  border: 1px solid rgb(209, 209, 209);
  font-size: 20px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.inputSubtask {
  border: none;
  border-radius: 10px;
  padding: 13px 21px 13px 21px;
  flex-grow: 2;
  position: relative;
}

.inputSubtask:focus-visible {
  outline: rgb(245, 245, 245);
}

.buttonAddSubTask {
  height: 24px;
  width: 24px;
  font-size: 20px;
  margin: 9px;
}

.buttonAddSubTask:hover {
  cursor: pointer;
}
.subTasks {
  overflow: auto;
  max-height: 180px;
}

.subTaskBox {
  display: flex;
  gap: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.buttonAddSubTask img {
  width: 24px;
  height: 24px;
}

.checkBox {
  border: solid black 2px;
  min-height: 16px;
  min-width: 16px;
  border-radius: 3px;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkBox img {
  height: 24px;
}

.subtask {
  font-size: 16px;
}

/*lower part to finalize addTasks*/
.finalizeTask {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin-bottom: 40px;
}

.buttonAddTask {
  height: 55px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.clear {
  border: 1px solid rgb(42, 54, 71);
  font-weight: 400;
  padding: 18px 15px;
  font-size: 20px;
  gap: 10px;
  position: relative;
}

.clear img {
  transform: rotate(45deg);
}

.create {
  background-color: rgb(42, 54, 71);
  color: white;
  font-weight: 700;
  font-size: 21px;
  gap: 4px;
  position: relative;
  border-style: none;
}

.clear:hover {
  border: 1px solid rgb(41, 171, 226);
  color: rgb(41, 171, 226);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
}

.clear:hover svg path {
  stroke: rgb(41, 171, 226);
}

.create:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(41, 171, 226);
}

#popupNotice {
  background-color: rgb(42, 54, 71);
  font-size: 20px;
  padding: 0px 15px;
  color: white;
  margin-right: 16px;
  position: fixed;
  left: 33%;
  bottom: -1500px;
  display: none;
}

.visible {
  bottom: 116px !important;
  display: flex !important;
  animation: slideInBottom 0.5s forwards;
}

.holdingIconsList {
  margin-left: 10px;
  display: flex;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #2a3647;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #29abe2;
}

@keyframes slideInBottom {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}
