#addTaskBoard {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "Inter";

}


#addTaskBoardContainer {
  max-height: 95vh;
  width: 70%;
  position: relative;
  padding: 64px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}


 .closeBoardAddTask {
    display:flex;
    justify-content: flex-end;
 }

 .closeButtonBoardAddTask{
    width: 32px;
    height: 32px;
    border-radius: 56px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.closeButtonBoardAddTask:hover{
    background-color: rgba(41, 171, 226, 0.15);
}

@keyframes slideInLeft {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

.slideIn {
  animation: slideInLeft 0.5s forwards;
}

.slideOut {
  animation: slideOutRight 1s forwards;
}

@keyframes slideOutRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(200%);
  }
}