html{
    background-color: #F6F7F8;
}

body{
    background-color: #F6F7F8;
    width: 100%;
    height: 100%;
}

#board{
    font-family: 'Inter';
    width: 100vw;
    background-color: #F6F7F8;
}

#board_container_top{
    padding-top: 206px;
    padding-left: 328px;
    margin-right: 30px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#board_container_title{
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
}

#board_container_search_searchfield_mobile{
    display: none;
}

#board_container_search{
    width: 481px;
    height: 55px;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    background-color: #F6F7F8;
}

#board_container_search_searchfield{
    width: 312px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    display: flex;
    gap: 8px;
    background-color: white;
}

#board_container_search_searchfield_inner{
    padding: 8px 16px;
    width: 280px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#board_input::placeholder{
    color: #D1D1D1;
}

input:focus{
    outline: none;
}

#board_input{
    width: 100px;
    height: 19px;
    color: #2A3647;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    cursor: pointer;
}

#board_search_btn{
    width: 48px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #ffffff;
    border: none;
    border-left: 1px solid #D1D1D1;
    height: 31px;
    cursor: pointer;
}

#board_search_icon{
    border-radius: 10px;
}

#board_search_icon:hover{   
    background-color: #2A3647;
}

#board_search_icon img:hover{   
    filter: brightness(0) invert(1);
}

#board_container_search_addtask{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 137px;
    height: 55px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background-color: #2A3647;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
}

#board_container_search_addtask:hover{
    background-color: #29ABE2;
    border: none;
    box-shadow: 0 4px 4px #29ABE2;
}

#board_container_bottom{    
    margin-top: 67px;
    margin-left:297px; 
    height: 661px;
    display: flex;
    gap: 26px;
}

.board_container_bottom_category{
    width: 250px;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    flex: 1;
    background-color: rgba(0,0,0,0.01);
}

.board_container_bottom_category_background{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    flex: 1;
}

.board_container_bottom_category_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: 25px;
    font-size: 21px;
    line-height: 25px;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
}

.board_container_bottom_category_icon{
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 2px solid #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_task_container{
    width: 250px;
    height: 239px;
    border-radius: 30px;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 14 3 rgba(0, 0, 0, 0.04);
    position: relative;
}

.board_task_container_inner{
    width: 209px;
    height: 203px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.lastCategory{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;    
    height: 7%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgba(168, 168, 168, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.lastCategory:active{
    background-color: rgba(168, 168, 168, 0.8);
}   

.nextCategory{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 7%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(168, 168, 168, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextCategory:active{
    background-color: rgba(168, 168, 168, 0.8);
}


.board_task_container_category{
    width: 103px;
    height: 27px;
    border-radius: 8px;
    background-color: #FF7A00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.board_task_container_title_and_description{
    width: 207px;
    height: 67px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-items: flex-start;
    
}

.board_task_container_title{
    font-size: 16px;
    font-weight: 700;
    color: #2A3647;
}

.board_task_container_description{
    color: #A8A8A8;
    overflow: hidden;
}

.board_task_progress{
    height: 14px;
    width: 209px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    gap:10px;
}



.board_task_progressbar{    
    height: 8px;
    border-radius: 2px;
    background-color: #29ABE2;
}

.board_task_progress_text{
    width: 53px;
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 400;
}

.board_task_working{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.icons_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
    overflow:hidden
}


.board_Icons_Username{
    min-width: 34px;
    height: 34px;
    border-radius: 58px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: -8px;
    background-color: #FF7A00;

}

.board_prio{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_prio img{
    width: 24px;
    height: 18px;
}

.drag-area-highlight {
    background-color: #ffffff;
}

.d-none{
    display: none;
}

.prio_urgent{
    background-color: #FF4910;
}

.prio_medium{
    background-color: #FFB320;
}

.prio_low{
    background-color: #7AE229;
}

.emptyColumnContainer{
    height: 48px;
    width: 100%; 
    border-radius: 10px;
    border: 1px dotted #A8A8A8;
    color: #A8A8A8;
    background-color: #E7E7E7;
    display: flex;
    justify-content: center;
    align-items: center;
}


















