
.colorCategory0 {
    background-color: transparent;
  }
  
  .colorCategory1 {
    background-color: rgb(31, 215, 193);
  }
  
  .colorCategory2 {
    background-color: rgb(255, 122, 0);
  }
  
  .colorCategory3 {
    background-color: rgb(0, 56, 255);
  }
  
  .colorCategory4 {
    background-color: rgb(255, 199, 1);
  }
  
  .colorCategory5 {
    background-color: rgb(252, 113, 255);
  }
  
  .colorCategory6 {  
    background-color: rgb(138,164,255);
  }
  
  .colorCategory7 {
    background-color: rgb(255,0,0);
  }
  
  .colorCategory8 {
    background-color: rgb(42,211,0);
  }
  
  .colorCategory9 {
    background-color: rgb(226,0,190);
  }