body {
  margin: 0;
  background-color: #f6f7f8;
  font-family: "Inter";
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  animation: opacityPage 1s ease-in-out forwards 200ms;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.sign-btn {
  border-radius: 8px;
  width: 100px;
  height: 45px;
  background: #2a3647;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-style: unset;
}

.loading-screen-mobile {
  display: none;
}
.logo {
  
  top: 30px;
  left: 30px;
  /* margin-top: 5%; */
  margin-left: 5%;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 9999;
  position: absolute;
  animation: resizeLogo 1s ease-in-out forwards 200ms;
}


@keyframes opacityPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    
  }
}

@keyframes resizeLogo {
  0% {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
  }

  50%{
    opacity: 1;
  }
  100% {
    background-color: unset;
    max-width: 150px;
    max-height: 150px;
    opacity: 1;
    margin-top: unset;
  margin-left: unset;
  }
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  background-color: #ffffff;
  padding: 48px 115px;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.login-container h1 {
  margin-top: -10px;
  text-align: center;
  font-size: 45px;
}

.line {
  width: 100px;
  height: 2px;
  background-color: #29abe2;
  margin-top: -10px;
  margin-bottom: 20px;
}

#login {
  border-radius: 8px;
  height: 45px;
  width: 120px;
  background: #2a3647;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0s background-color;
  border-style: unset;
}

#login:hover {
  background: #29abe2;
  transition-delay: 0.08s;
}

#login:hover,
#guest-login:hover,
.sign-btn:hover {
  cursor: pointer;
}

#login:hover,
.sign-btn:hover {
  background: #29abe2;
}

#guest-login:hover{
  color: #29abe2;
  border-color: #29abe2;
}
#guest-login {
  border-radius: 8px;
  height: 45px;
  width: 120px;
  background: #ffffff;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

#remember-link {
  text-decoration: none;
  color: #29abe2;
  font-weight: 400;
  font-size: 16px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.login-buttons {
  display: flex;
  gap: 40px;
}

#remember {
  width: 16px;
  height: 16px;
  color: #2a3647;
  font-weight: 400;
  font-size: 16px;
}

.remember-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#email,
#password {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border-color: #d1d1d1;
  border: 1px solid #d1d1d1;
  text-indent: 10px;
  font-family: "Inter";
}

#email::placeholder {
  color: #d1d1d1;
  opacity: 0.9;
  font-weight: 400;
  text-indent: 10px;
  font-size: 14px;
}

#email {
  background-image: url("../assets/img/mail.png");
  background-repeat: no-repeat;
  background-position: center right 10px;
}

#password {
  background-image: url("../assets/img/lock.png");
  background-repeat: no-repeat;
  background-position: center right 10px;
}

#password::placeholder {
  color: #d1d1d1;
  opacity: 0.9;
  font-weight: 400;
  text-indent: 10px;
  font-size: 14px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 24px;
  position: absolute;
  bottom: 30px;
}

.footer a {
  text-decoration: none;
  color: #a8a8a8;
}

.border-red {
  border-color: red !important;
  outline: none;
}

#error {
  display: flex;
  color: red;
  margin-top: -20px;
  margin-left: -10px;
  align-self: flex-start;
  font-size: 12px;
}

@media (max-width: 600px) {
  .loading-screen {
    display: flex;
    transition: unset;
    position: absolute;
    transition: opacity 100ms ease-out, visibility 100ms ease-out;
    position: absolute;
    animation: resizeLogo 0.8s ease-in-out forwards 500ms;
  }

  .loading-screen-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #2a3647;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    transition: opacity 100ms ease-out, visibility 100ms ease-out;
    position: absolute;
    animation: resizeLogoMobile 0.8s ease-in-out forwards 500ms;
  }

  .loading-screen-mobile img {
    height: 150px;
    width: 150px;
  }

  @keyframes resizeLogoMobile {
    0% {
      max-width: 100%;
      max-height: 100%;
    }
    90% {
      opacity: 0;
      display: none;
      top: 40px;
      left: 40px;
    }
    100% {
      max-width: 0%;
      max-height: 0%;
      display: none;
      top: 40px;
      left: 40px;
    }
  }

  @keyframes resizeLogo {
    0% {
      max-width: 100%;
      max-height: 100%;
      display: none;
      opacity: 0;
    }

    50% {
      max-width: 150px;
      max-height: 150px;
      opacity: 0;
      display: none;
    }

    100% {
      max-width: 80px;
      max-height: 80px;
      opacity: 1;
      display: flex;
    }
  }

  .login-container {
    padding: 57px 80px;
  }

  .signup-container {
    top: unset;
    bottom: 10vh;
    right: 20vw;
  }

  .login-buttons {
    flex-direction: column;
    gap: 15px;
  }

  #login {
    width: 170px;
  }

  #guest-login {
    width: 170px;
  }

  .options {
    flex-direction: column;
  }

  .options a {
    order: -1;
  }
}

@media (max-width: 375px) {
  .loading-screen img {
    background-color: unset;
    width: 64px;
    height: 64px;
  }

  .loading-screen {
    background-color: unset;
    top: 21px;
  }

  .login-container {
    margin-top: 101px;
    padding: 24px 37px;
  }

  .main-page {
    align-items: flex-start;
  }
  
  .options{
    margin-top : unset;
    }
}
